<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:/logs/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="defaultLogDir" value="c:/logs/QP.Storage" />
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="app" fileName="${defaultLogDir}\app-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            archiveEvery="Day"
            maxArchiveFiles="3" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="web" fileName="${defaultLogDir}\web-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
            archiveEvery="Day"
            maxArchiveFiles="3" />
    <target name="console"
            xsi:type="Console"
            encoding="UTF-8">
      <layout xsi:type="JsonLayout" includeAllProperties="true" maxRecursionLimit="2">
        <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="logger" layout="${logger}" />
        <attribute name="request_id" layout="${aspnet-traceidentifier}"/>
        <attribute name="url" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}"/>
        <attribute name="user" layout="${aspnet-user-identity}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=@:maxInnerExceptionLevel=5:innerFormat=@}" encode="false" />
      </layout>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" writeTo="console" minlevel="Info" />
    <logger name="*" levels="Debug,Trace" writeTo="console" final="true">
      <filters defaultAction="Ignore">    
        <when condition="equals('${environment:LOG_DEBUG_TRACE}','1')" action="Log"/>
      </filters>
    </logger>
  </rules>  
</nlog>