<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/logs/Jirasync/reporting-system-internal.txt"
      throwConfigExceptions="true">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <target name="file"
                xsi:type="File"
                encoding="UTF-8"
                fileName="C:\logs\Jirasync\log.txt"
                keepFileOpen="false"
                archiveFileName="C:\logs\Jirasync\archive\log.{########}.txt"
                archiveAboveSize="2500000"
                maxArchiveFiles="100000"
                archiveNumbering="Sequence" >
            <layout xsi:type="JsonLayout" includeAllProperties="true">
                <attribute name="time"       layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
                <attribute name="level"      layout="${level:upperCase=true}" />
                <attribute name="logger"     layout="${logger}" />
                <attribute name="request_id" layout="${aspnet-traceidentifier}" />
                <attribute name="url"        layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
                <attribute name="message"    layout="${message}" />
                <attribute name="errorId"    layout="${guid:format=D}"/>
                <attribute name="exception"  layout="${exception:format=@:maxInnerExceptionLevel=5:innerFormat=@}" encode="false" />
                <attribute name="ip"         layout="${aspnet-request-ip}" />
                <attribute name="method"     layout="${aspnet-request-method}" />
                <attribute name="url"        layout="${aspnet-request-url}" />
                <attribute name="query"      layout="${aspnet-request-querystring}" />
                <attribute name="postedBody" layout="${aspnet-request-posted-body}" />
                <attribute name="userAgent"  layout="${aspnet-request-useragent}" />
                <attribute name="cookie"     layout="${aspnet-request-cookie}" />
                <attribute name="headers"    layout="${aspnet-request-headers}" />

                <!--<attribute name="emitter" encode='false'>
                            <layout xsi:type="JsonLayout">
                                <attribute name="appname" layout="${environment:SERVICE_NAME}" />
                                <attribute name="version" layout="${environment:SERVICE_VERSION}" />
                            </layout>
                        </attribute>-->
            </layout>
        </target>
        <target xsi:type="Console" name="logconsole"
                layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" levels="Warn,Error,Fatal,Info" writeTo="file"/>

        <logger name="*" minlevel="Info" writeTo="file, logconsole" />
    </rules>
</nlog>
